<!-- Title logo to appear on every page -->

<div id="header">
  
    <div>
      <img id="" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-animals/010346-3d-transparent-glass-icon-animals-animal-dog-print.png">
    </div>
        
    <div id="title">
      <p>PET PICS </p>
    </div>

</div>
