@import "bootstrap-sprockets";
@import "bootstrap";

* { border-sizing: border-box; }

/*Title Stuff*/
#header {margin-top: 30px;}
  #header div {display: inline-block;}
  #header img {
    height: 60px;
    margin: 0;
    padding: 0;
  }
  #header p {
    margin: 0;
    padding: 0;
  }
    #title {
      font-size: 30px;
      height: 60px;
      line-height: 60px;
      font-family: 'Monofett', cursive;  
      color: black;
    }

/*LogOut Button*/
.logout_stuff {
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
}

.btn_logout {
  height: 2em;
  background-color: maroon;
  color: white;
  border: solid grey;
  border-radius: 1px;
}

/*Back Ground*/
body {
  background-color: #CCFFFF;
  text-align: center;
}

/*Login Stuff*/

#Login_box {
  text-align: center;
  background-color: grey;
  border-radius: 20px;
  border: solid black;
  padding: 5px;
  width: 200px;
  margin: 100px auto 0px;
}
  .alert_msg {
    color:red;
  }

      #user_box { 
        text-align: center;
        background-color: grey; 
        padding: 10px 10px 10px;
      }
      .user_box_input {text-align: center;}

      #password_box {
        text-align: center;
        background-color: grey; 
        padding: 0px 10px 10px;
      }
      .password_box_input {text-align: center;}


        .login_input {
          text-align: center;
          font-size: 1em;
          font-family: 'Share Tech Mono', ;  
        }
.btn_start{
  background-color: #0080FF;
  padding: 0px;
  margin-bottom: 5px;
  width: 80%;
  display: inline;
}

.new_user {margin-top: 40px;}

/*Home Page once logged in*/
.pictures:hover {background-color: yellow;}

.pictures {
  background-color: black;
  border: solid white;
  border-radius: 10px;
  text-align: center;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

  .pic_a{padding: 0px;}
  .pic_name {margin: 0px;}
  .pic_img {margin: 0px;}

.container {
  margin-top: 20px;
}

.pic_img { 
  width: 200px; 
  height: 100px; 
}

/*Profile column*/
#profile_box{
  background-color: #FFFFCC;
  margin: 0px;
  padding: 5px;
  height: 100%;
  border: solid black;
  border-radius: 10px;
}
    #profile_title {
      font-weight: bold;
      color: #00CCCC;
      display: block;
      margin-bottom: 3px;
    }
    
    .profile_pic {
      border: solid lightgrey;
      border-radius: 5px;
      text-align: left;
      display: inline-block;
      width: 30%;
      height: 40px;
    }
    .profile_img {
      width: 100%;
      height: 100%;
    }

/*General button for upload, edit and show page btn*/
.btn_general { 
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  border-radius: 5px;
}

/*Profile Page*/
.img_upload {margin-top: 40px}

/*Image show page*/
#show_page {
  display: block;
  margin-top: 10px;
}

#show_btn {margin-top: 40px;}
/*.img_show {margin-top: 20px;}*/

/*Image edit page*/
.img_edit {margin-top: 40px;}
/*-----------*/

