<!-- Showing large complet version of Images -->

<div id="show_page">
  <form action='/home'>
    <button id="show_btn" class="btn_general" >Return<button>
  </form>
  <img class="img_show" src="<%= @image.url %>" >
</div>